*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(75, 74, 74);
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 10px;
    text-transform: capitalize;
    text-shadow: 1px 1px 4px  red;
    position: relative;
}
h1::after{
    content: "";
    position: absolute;
    border: 1px solid red;
    height: 35px;
    right:-10px;
    width: 2px;
    background-color: red;
}

#textfeild{
    padding: 10px;
    width: 300px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
    border-bottom: 2px solid red;
    background-color: rgb(75, 74, 74);

}

button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: antiquewhite;
}

ul li{
    border: 1px dotted red;
    padding: 10px 20px;
    box-shadow: 1px 1px 8px black;
    margin-top: 10px;
    text-align: start;
    list-style: none;
}
#listedItem{
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#listedItem button{
margin-left: 20px;
margin-top: 10px;

}
